* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: #000;
	background: transparent;
}

html {
	font-family: Poppins, sans-serif;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

#fullPage {
	width: 100%;
	height: 600vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.landing {
	position: relative;
	background-color: #000;
	height: 100vh;
}


.landing::before {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bg_1.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}

.landingWrapper {
	position: relative;
	width: 88%;
	margin: auto;

}
h1 {
	font-family: Poppins;
	font-size: 72px;
	font-weight: normal;
	color: #FAFAFA;
	letter-spacing: 0;
	word-spacing: 82;
	margin-bottom: 40px;
}



.btn_download {
	border: #FAB13A 2px solid;
	background-color: #FAB13A;
	border-radius: 4px;
	padding: 0.6em 1.75em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Poppins;
	font-weight: 600;
	font-size: 24px;
	color: #2F424E;
	letter-spacing: 30;
	word-spacing: 30;
	text-align: center;

}

.btn_download:hover {
	border: #F9AA33 2px solid;
	background-color: #FAB13A42;
	border-radius: 4px;
	padding: 0.6em 1.75em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Poppins;
	font-weight: 600;
	font-size: 24px;
	color: #FAFAFA;
	letter-spacing: 30;
	word-spacing: 30;
	text-align: center;
	
}


/*-----Landing------*/

.nav {
	padding: 3em;
}
.pages {
	float: right;
	text-align: right;
}
.pages a {
	text-decoration: none;
	color: #FAFAFA;
    text-align: center;
    font: Light 20px Poppins;
    letter-spacing: 0px;
	margin-left: 25px;
	vertical-align: middle;
}
.pages a:hover {
	text-decoration: none;
	color: #FAB13A;
    text-align: center;
    font: Light 20px Poppins;
    letter-spacing: 0px;
	margin-left: 25px;
	vertical-align: middle;
}

.pages .icon {
    display: none;
}

.logo {
	vertical-align: middle;
}
.landingContent {
	width: 88%;
	margin: 150px auto 0 auto;
	display: flex;
}
.contentLeft {
	flex: 0 0 50%;
}
.contentRight {
	flex: 0 0 50%;
	display: flex;
	position: absolute;
	z-index: 10;
	right: 0;
}

.game {
	flex: 0 0 50%;
	margin-top: -55px;
}

.game2 {
	flex: 0 0 50%;
	margin-top: -115px;
	margin-left: 15px;
}

.contentLeft h1 {
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
}

/*------Features-------*/


.features {
	position: relative;
	background-color: #FAB13A;
	height: 100vh;
	right: 0;

}


.features::before {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bg_2.jpg) center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	
}

.featuresWrapper {
	position: relative;
	width: 88%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.titleSecondSection {
	flex: 0 0 50%;
	padding-top: 110px;
}

.titleSecondSection h1 {
	font-family: Poppins;
	font-weight: 600;
	font-size: 48px;
	color: #2F424E;
	letter-spacing: 0;
	word-spacing: 54;
	text-align: center;
}

.titleSecondSection p {
	font-family: Poppins;
	font-weight: lighter;
	font-size: 24px;
	color: #2F424E;
	letter-spacing: 0;
	word-spacing: 35;
	text-align: center;
	margin-top: 10px;
}

.iconsAndDescribe {
	position: relative;
	width: 88%;
	margin: 48px auto auto auto;
	text-align: center;
	flex: 0 0 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}


.describe {
	color: #344955;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    border: 3px solid #FAFAFA;
    align-self: center;
    display: block;
}

.imgIcon {
    margin-top:25px;

}

.medalIcon {
	height: 46px;
	width: 51px;
	margin-top:25px;
}


.describe h2 {
	font-family: Poppins;
	font-weight: 600;
	font-size: 32px;
	color: #2F424E;
	letter-spacing: 30;
	word-spacing: 48;
	text-align: center;
	margin-top: 40px;
	text-transform: uppercase;
}
.describe p {
	font: Light 24px Poppins;
	color: #2F424E;
	letter-spacing: 0;
	word-spacing: 35;
	text-align: center;
	margin-top: 18px;
}

.divider {
  flex-grow: 4;
  border-bottom: 2px solid #2F424E;
  align-self: flex-start;
  margin-top: 55px;

}

/*------Third-------*/

.third {
	position: relative;
	background-color: white;
	height: 100vh;
}


.third::before {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bg_3.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.04;
}

.thirdWrapper {
	position: relative;
	width: 100%;
	margin: auto;

}



.thirdContent {
	width: 88%;
	margin: 0 auto 0 0;
	display: flex;
}
.leftContent {
	flex: 0 0 50%;
	border: 1px solid #70707029;
	background: url(../images/bg_leftContent.jpg) center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 470px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: 0px 30px 60px #6C80884D;
    opacity: 1;
}

.rightContent {
	flex: 0 0 50%;
	display: flex;
	margin-top: 100px;
	margin-left: 50px;
	justify-content: center;
    align-items: center;
}

.divoviNeki {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	padding: 20px;
	margin: 25px 55px 25px 0;
	
}
.export {
	border: 1px solid #475B66;
	border-radius: 4px;
	background-color: #344955;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	padding: 20px;
	margin: 25px 55px 25px 0;
}
.prvaDva{
	margin: 0 25px 0 0;
}
.drugaDva{
	margin: 0 0 0 25px;
}
.rightContent .divoviNeki {
	
	border: 1px solid #475B66;
	border-radius: 4px;
	background-color: white;
}

.rightContent p {
	color: #3A3A3A;
	text-align: left;
	font-family: Poppins;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 0;
	word-spacing: 46;
}

.leftContent p {
	color: #2F424E;
	text-align: left;
	font-family: Poppins;
	font-weight: normal;
	font-size: 26px;
	letter-spacing: 0;
	word-spacing: 46;
}


/*--------Fifth---------------*/

.fifth {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


.yellow {
	flex: 0 0 60%;
	background-color: #FAB13A;
}

.fifthTitle {
	margin-top: 5%;
}
.fifthTitle h1{
	font-family: Poppins;
	font-weight: 600;
	font-size: 48px;
	color: #2F424E;
	letter-spacing: 0;
	word-spacing: 28;
	text-align: center;
}

.fifthTitle p {
	font-family: Poppins;
	font-weight: lighter;
	font-size: 24px;
	color: #2F424E;
	letter-spacing: 20;
	word-spacing: 28;
	text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Poppins;
	font-weight: lighter;
	font-size: 20px;
	color: #323232;
	letter-spacing: 20;
	word-spacing: 28;
	opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Poppins;
	font-weight: lighter;
	font-size: 20px;
	color: #323232;
	letter-spacing: 20;
	word-spacing: 28; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: Poppins;
	font-weight: lighter;
	font-size: 20px;
	color: #323232;
	letter-spacing: 20;
	word-spacing: 28; 
}

.inputForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 78px 20% 100px 20%;

}
.inputForm .input {
	flex: 0 0 80%;
	border: #2F424E 2px solid;
	border-radius: 8px;
	height: 35px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2F424E;
	margin-right: 10px;
}
.inputForm .submit {
	flex: 0 0 20%;
	border: #2F424E 1px solid;
	background-color: #2F424E;
	box-shadow: 0px 10px 20px #475B6633;
	border-radius: 8px;
	height: 47px;
	padding: 5px;
	color: #FAFAFA;
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.4;
}

.inputForm .submit:hover {
	flex: 0 0 20%;
	border: #2F424E 1px solid;
	background-color: #E2EEF5;
	border-radius: 8px;
	height: 47px;
	padding: 5px;
	color: #344955;
	margin-left: 10px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.4;
}
.blue {
	flex: 0 0 40%;
	display: flex;
	flex-direction: row;
}
.facebookDiv {
	height: 100%;
	width: 50%;
	background: transparent linear-gradient(181deg, var(--unnamed-color-dbedee) 0%, var(--unnamed-color-b6c8cc) 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(181deg, #DBEDEE 0%, #B6C8CC 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.facebookDiv p{
	color: #2F424E;
	font:Regular 24px Poppins;
	letter-spacing: 0.48px;

}
.instagramDiv p{
	color: #DBEDEE;
	font:Regular 24px Poppins;
	letter-spacing: 0.48px;

}
.instagramDiv {
	height: 100%;
	width: 50%;
	background: transparent linear-gradient(180deg, var(--unnamed-color-475b66) 0%, var(--primary) 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(180deg, #475B66 0%, #2F424E 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #344955;
}

.fa-instagram {
  color: white;
}


/*----------------Sixth------------------------*/
.sixth {
	position: relative;
	background-color: #000;
	height: 100vh;
}


.sixth::before {
	content: ' ';
	display: block;
	position: absolute;
	background: url(../images/bg_6.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}

.sixthWrapper {
	position: relative;
	width: 88%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.samoLogo {
	flex: 0 0 30%;
	display: flex;
}
.samoLogo img {
	text-align: center;
	align-self: flex-end;
	opacity: 0.7;
	margin-top: 85px;
}
.sixthContent {
	flex: 0 0 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: white 1px solid;
	justify-content: center;
	align-items: center;
}
.sixthContent .prvi {
	flex: 0 0 33%;
	text-align: center;
}

.footer {
	flex: 0 0 10%;
}

.prvi h3 {
	color: #FAB13A;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.48px;
	text-align: center;
}

.prvi p {
	color: #FAFAFA;
	font: Light 18px Poppins;
	letter-spacing: 0.36px;
	text-align: center;
	margin-top: 46px;

}
.footer p {
	color: #FAFAFA;
	font: Light 20px Sofia Pro Soft;
	letter-spacing: 0.4px;
	margin-top: 16px;
	opacity: 0.5;
}






@media screen and (max-width: 600px) {

  .pages a {display: none;}
  .pages a.icon {
    float: right;
    display: block;
  }
  .contentRight {
  	display: none;
  }
}

@media screen and (max-width: 600px) {
  .pages.responsive {position: relative;}
  .pages.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .pages.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


